:root{
    --primary-color: rgb(0, 0, 0);
    --primary-color-highlight: #f0f0f0;
    
}
body{
    background-color: var(--primary-color);
}
*{
    margin: 0%;
    padding: 0%;
}


#title{
    position: absolute;
    width: 30%;
    top: 20%;
    left:5%;
    z-index:2;
}

#title h1,p{
    animation: 2s anim-lineUp ease-out forwards;
}
@keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }


#title p{   
    color: white;
text-align: justify;
}

#title h1{
    color: white;
text-align: justify;
}

.poster{
    z-index: 2;
    position: absolute;
    background-color: white;
    width: 170px;
    height: 240px;
    top: 55%;
    left: 5%;
    border-style: solid;
    border-color:black;
    background-image: url("../images/s1poster.jpg");
    background-size: cover;
    animation: 2s anim-poster ease-out;

}

@keyframes anim-poster {
    0% {
      opacity: 0;
      transform: translateX(-80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateX(0%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }


.posterdes{
    z-index: 2;
    position: absolute;
    top: 58%;
    width: 40%;
    left: 20%;
    text-align: justify;
    color: white;

}
.trailer{
    z-index: 2;
    position: absolute;
    top: 55%;
    right: 7%;
    
}

.border{
    background-color: black;
    z-index: 2;
    position: absolute;
    top: 330px;
    right: 93px;
    width: 303px;
    height: 174px;
    border-width: 30px;
    border-style: solid
    
}



#seasons{
    background-color: rgb(31, 30, 30);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 110%;
   opacity: 0.97;
}
.overlay{
    position: absolute;
    top: 0%;
    right: 0%;
    left: 0%;
    bottom: 0%;
    height: 110%;
    background-image: linear-gradient(to right, rgb(31, 30, 30,0.97), rgba(105, 72, 72, 0));
    z-index: 1;
}

.seasontitle{
    z-index: 2;
    position: absolute;
    top: 1%;
    border-style: solid;
    border-color: rgb(141, 135, 135);
    width: 100%;
}
.seasontitle p{
    text-align: center;
    margin: auto;
    color: white;
}

.seasond-card{
    position: absolute;
    height: 180px;
    width: 300px;
    top: 10%;
    border-style: solid;
    border-color: white;
    background-color: white;
}
.seasond-card:hover{
    border-color: red;

}



.sonsi p{
    color: white;
}
.sonsi{
    position: absolute;
    top: 41%;

}
#sonsi2{
    left: 2%;
}

#sonsi3{
    left: 26.7%;
}

#sonsi4{
    left: 51.7%;
}

#sonsi5{
    left: 76.7%;
}

#sonsi6{
    top: 78%;
    left: 2%;
}
#card1{
    background-image: url("../images/s2.jpg");
    background-size: cover;
    left: 20px;
}

#card2{
    background-image: url("../images/s3.jpg");
    background-size: cover;
    left: 350px;
}

#card3{
    background-image: url("../images/s4.jpg");
    background-size: cover;
    left: 685px;
}

#card4{
    background-image: url("../images/s5.jpg");
    background-size: cover;
    left: 1020px;
}
#card5{
    background-image: url("../images/backg.jpg");
    background-size: cover;
    top: 47%;
    left: 20px;
}
